/* reset */
/* ===== Modern CSS Reset ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px; /* base font size */
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "Poppins", "Inter", sans-serif;
  background-color: #0f172a;
  color: #e5e5e5;
  width: 100%;
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
.main-header {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: #e5e5e5;
  border: none;
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #0f172a;
  font-size: 0.9rem;
}

ul,
ol {
  list-style: none;
}
/* Custom Properties */
:root {
  --active-button-bg-color: #000080;
  --active-button-text-color: #ffff;
  --button-padding: 3px;
  --button-margin: 10px 5px;
}
.app-logo {
  display: flex;
  width: 100px;
  height: auto;
  padding: 0px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 1);
  color: #d35400;
}
.logo-text,
.logo-image {
  display: flex;
}
.sign-up-button {
  padding: var(--button-padding);
  margin: var(--button-margin);
}
.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav.show-selection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 5px;
  margin: var(--button-margin);
  padding: var(--button-padding);
  height: 100px;
}
a.active {
  background-color: #d35400;
  color: var(--active-button-text-color);
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #e5e5e5;
  font-size: 0.9rem;
}
.active-button {
  background-color: #d35400;
  color: var(--active-button-text-color);
  padding: 7px 14px;
  border-radius: 5px;
  cursor: pointer;
  color: #e5e5e5;
  font-size: 0.9rem;
}
@media (max-width: 500px) {
  .active-button {
    background-color: #d35400;
    font-size: 0.8rem;
  }
  a.active {
    font-size: 0.8rem;
  }
  .button {
    font-size: 0.8rem;
  }
}
.form {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}
.search-form {
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 4px;
  max-width: 420px;
  width: 100%;
  gap: 6px;
  border-width: 1px;
}
.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}
@media (min-width: 300px) {
  .media-list {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
  }
}
@media (min-width: 700px) {
  .media-list {
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: auto;
  }
}
@media (min-width: 1100px) {
  .media-list {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: auto;
  }
}
.media-list {
  place-items: center;
  justify-content: center;
  gap: 20px 20px;
}
.media-item {
  background-color: green;
  height: 500px;
  border-radius: 10px;
}
.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.popularity {
  color: #0f172a;
  border-radius: 50%;
  background-color: #e5e5e5;
  padding: 5px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-section {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.current-page {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
